.bg-dark {
    background-color: #000d1a !important;
}

.navbar-dark {
	border-radius: 0 !important;
}

#fotoRedondel{
display:block;
margin:auto;
}

#fotoRedondelHL{
display:block;
margin:auto;
width: 140px;
height: 140px;
}


.btn-secondary{
	background-color: #000d1a;
}
.btn-secondary:hover {
  color: #000d1a;
  background-color: #e6e6ff;
}

.form{
	width: 450px;
}


#div_registrar{
	background-color: #e6e6ff;
	width: 95%;
	border-radius: 15px;
}



#div_iniciar{
	background-color: #e6e6ff;
	width: 500px;
	border-radius: 15px;
	height: 600px;
}

#div_iniciar2{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 600px;
}

#div_iniciar2_residencia{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 600px;

}

#residencia_home{
	width: 100%;
	height: 80%;
	border-radius: 15px;
}


#body_registrar{
	background-color: #000d1a;
}

#body_registrar_residencia{
	background-color: #000d1a;
}

div .input_tarjeta{
	padding-left: 2.5px !important;
	padding-right: 2.5px !important;
}

#body_iniciar{
	background-color: #000d1a;
}

#texto_iniciar{
	text-align: justify;
}

#msjEmail, #msjPassword1, #msjPassword2, #msjToken1, #msjToken2, #msjNombre, #msjApellido, #msjFecha_nacimiento, #msjTelefono, #msjMarca, #msjNumero, #msjVencimiento, #msjNumeroCantDigitos, #msjTitular, #errorPujaVacia, #errorPujaMonto{
	display:none;
}

#titulo_form{
	margin-top: 10px
}

h2.detalle{
	text-align: center;
}

h2.center-block{
	text-align: center;
}

nav{
	font-size: 16px;
}

.footer{
	background-color: #000d1a;
}

a.comun, a.comun:hover{
	color: #000d1a;
}

#carrusel{
	margin-top: -20px;
}

img .perfil{
	width:304;
	height:236;
}

.badge{
	width: 25px;
	background-color: #000d1a !important;
	float: none;
}

.badge-pill{
	float: none;
}
 .creditos{
 	float: none !important;
 }

 .border{
 	border: 1px solid #000d1a !important;

 }

 .textoFooter{
 	font-size: 20px;
 }

 footer{
 	color: white;
 }

 .texto-footer{
	text-align: center;
	padding-top: 5px;
}

#div_listar_residencias{
	margin-top: -20px;
}

.carru{
	height: 550px;
}

#imgFooter{
	width: 150px;
}

#msjNombreR,#msjMontoS, #msjDescripcionR, #msjCapacidadR, #msjCapacidadR2,#msjAlturaR2, #msjBlancosM2, #msjNombreP, #msjApellidoP, #msjPasswordP, #msjTelefonoP, #msjFecha_nacimientoP, #msjNombreM2, #msjAlturaM2, #msjCalleM2, #msjCiudadM2, #msjProvinciaM2,#msjCapacidadM2, #msjNombreR2, #msjProvinciaR2, #msjCiudadR2, #msjCalleR2, #msjCalleR, #msjAlturaR, #msjProvinciaR, #msjCiudadR, #msjFotoR{
	display: none;
}

#div_agregar_residencia{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 860px;
}

#msjFechaE, #msjMontoE{
	display: none;
}

#div_agregar_estadia{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 450px;
}


#token{
	display: none;
}

#boton_token{
	font-size: 10px;
	padding: 1.5px;
}

#card_residencia{
	height: 600px;
}

#nombre_residencia{
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#card_foto_residencia{
	height: 260px;
	width: 100%;
}

#p_card{
	height: 200px;
}

#foto_detalle_residencia{
	padding-bottom: 20px;
	width: 400px;
	height: 400px;
}

#h1_detalle{
	margin-bottom: 0;
	padding-bottom: 20px;
}

#p_detalle{
	padding-bottom: 20px;
}

#trash{
	margin-top: 13px;
	color: red;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

#botones{
	position: absolute;
	bottom: 0;
	display: center;
}

.glyphicon-map-marker{
	color: red;
}

#div_detalle{
	margin-bottom: 30px;
}

#img_detalle_residencia{
	margin-top: 70px;
}

#form_detalle_residencia{
	width: 250px;
}

button#pujar{
	height: 30px;
	margin-top: .1rem !important;
}

p#descuento{
	color:#11af1f;
}

li#descuento{
	padding-left: 30px;
}

#atras{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: -15px;
}

#div_subasta{
	height: 470px;
}

#error_campo_vacio_subasta{
	display: none;
}

#div_crear_subasta{
	height: 420px;
}

#div_estadias{
	height: 180px;
}

img.perfil{
	margin-bottom: 30px;
	margin-top: 30px;
}

h2.perfil{
	margin-bottom: 30px;
}

li.perfil{
	margin-bottom: 15px;
}

#msj_estadias{
	text-align: center;
	font-size: 100%;
}

img.residencia{
	margin-bottom: 50px;
	margin-top: 0;
}

img.residencia2{
	margin-bottom: 50px;
	margin-top: 30px;
}

h2.residencia{
	margin-bottom: 30px;
}

li.residencia{
	margin-bottom: 20px;
}

#nombreM:invalid {
    border-color: red;
}
#calleM:invalid {
    border-color: red;
}
#alturaM:invalid {
    border-color: red;
}
#ciudadM:invalid {
    border-color: red;
}
#provinciaM:invalid {
    border-color: red;
}
#capacidadM:invalid {
    border-color: red;
}

#nombre:invalid {
    border-color: red;
}
#calle:invalid {
    border-color: red;
}
#altura:invalid {
    border-color: red;
}
#ciudad:invalid {
    border-color: red;
}
#provincia:invalid {
    border-color: red;
}
#capacidad:invalid {
    border-color: red;
}

#apellido:invalid{
	border-color: red;
}

#telefono:invalid{
	border-color: red;
}

#marca_tarjeta:invalid{
	border-color: red;
}

#numero_tarjeta:invalid{
	border-color: red;
}

#titular_tarjeta:invalid{
	border-color: red;
}

li#rol{
	text-align: center;
}

p.disponible{
	color: red;
}

p#small{
	font-size: 90%;
}

section#home{
	margin-top: -20px;
}

h1.jumbotron{
	padding-bottom: 20px;
	padding-top: 15px;
}

li.subasta{
	margin-bottom: 15px;
}

#foto_detalle_subasta{
	margin-bottom: 30px;
	margin-top: 30px;
	width: 350px;
	height: 400px;
}

#card_foto_subasta{
	height: 170px;
	width: 100%;
}

#nombreP:invalid{
    border-color: red;
}

#apellidoP:invalid{
    border-color: red;
}

#telefonoP:invalid{
    border-color: red;
}

#marca_tarjetaP:invalid{
    border-color: red;
}

#numero_tarjetaP:invalid{
    border-color: red;
}

form.buscador{
	z-index: -3;
}

footer{
	z-index: 3;
}

#div_subasta_admin{
	height: 500px;
}

#div_resultados_filtro{
	height: 250px;
}

section#backend{
	margin-bottom: 0;
}

p#home{
	margin-bottom: 5px;
	margin-top: 0px;
}

div#home{
	padding-top: 2px;
}

div.panel{
	margin-top: 15px;
}

div#estadia_subasta{
	height: 150px;
}

a#estadia_subasta{
	position: absolute;
	bottom: 0;
}

p#subasta{
	color: red;
}

p#tarjetas_perfil{
	margin-left: 15px;
}

ul#lista_tarjeta{
	margin-left: 20px;
}

li.list-group-item.active, li.list-group-item.active:hover{
	background-color: #000d1a;
	border-color: #000d1a;
}

a#modificar{
	padding-right: 0;
  padding-left: 0;
	width: 150px;
  margin-left: 37px;
}


a#trash, p#numero, a#cambiar_principal{
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 22px;
  padding-right: 0;
}

a#cambiar_principal{
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

p#numero{
  margin-top: 10px;
}

a#trash{
  margin-top: 0px;
}

#div_modificar_perfil{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 700px;
}

button.cambiar_principal{
	/*background-color: #bce8f1;
	color: #31708f;
	border-color: #bce8f1; */
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

button.cambiar_principal:hover{
	background-color: #bce8f0;
	color: #31708f;
}

.text-dark{
	color: #31708f;
}

a.cambiar_contraseña{
	margin-left: 36px;
}

a.premium{
	margin-left: 37px;
}

h4.adicionales{
	margin-left: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-top: 0px;
}

div.adicionales{
	margin-left: 30px;
}

div#tarjeta_principal{
	margin-bottom: 0;
}

li#tarjeta_principal{
	margin-bottom: 5px;
	margin-top: 7px;
}

a#agregar_tarjeta{
	margin-top: 0;
	margin-left: 30px;
}

.faq{
  width: 100%;
}

p.faq{
  margin-bottom: 20px;
  font-size: 16px;
}

h1.faq{
  margin-bottom: 30px;
  margin-top: 10px;
}

button.faq{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
