.bg-dark {
    background-color: #000d1a !important;
}

.navbar-dark {
	border-radius: 0 !important;
}

#fotoRedondel{
display:block;
margin:auto;
}

.btn-secondary{
	background-color: #000d1a;
}

.form{
	width: 400px;
}

#div_registrar{
	background-color: #e6e6ff;
	width: 500px;
}

#body_registrar{
	background-color: #000d1a;
}

#titulo_form{
	margin-top: 10px
}

nav{
	font-size: 16px;
}

