.bg-dark {
    background-color: #000d1a !important;
}

.navbar-dark {
	border-radius: 0 !important;
}

#fotoRedondel{
display:block;
margin:auto;
}

.btn-secondary{
	background-color: #000d1a;
}
.btn-secondary:hover {
  color: #000d1a;
  background-color: #e6e6ff;
}

.form{
	width: 450px;
}


#div_registrar{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
}

#div_iniciar{
	background-color: #e6e6ff;
	width: 500px;
	border-radius: 15px;
	height: 600px;
}

#div_iniciar2{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 600px;
}

#div_iniciar2_residencia{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 600px;

}

#residencia_home{
	width: 100%;
	height: 80%;
	border-radius: 15px;
}


#body_registrar{
	background-color: #000d1a;
}

#body_registrar_residencia{
	background-color: #000d1a;
}

div .input_tarjeta{
	padding-left: 2.5px !important;
	padding-right: 2.5px !important;
}

#body_iniciar{
	background-color: #000d1a;
}

#texto_iniciar{
	text-align: justify;
}

#msjEmail, #msjPassword1, #msjPassword2, #msjToken1, #msjToken2, #msjNombre, #msjApellido, #msjFecha_nacimiento, #msjTelefono, #msjMarca, #msjNumero, #msjVencimiento, #msjTitular{
	display:none;
}

#titulo_form{
	margin-top: 10px
}

h2.detalle{
	text-align: center;
}

nav{
	font-size: 16px;
}

.footer{
	background-color: #000d1a;
}

a.comun, a.comun:hover{
	color: #000d1a;
}

#carrusel{
	margin-top: -20px;
}

img .perfil{
	width:304;
	height:236;
}

.badge{
	width: 25px;
	background-color: #000d1a !important;
	float: none;
}

.badge-pill{
	float: none;
}
 .creditos{
 	float: none !important;
 }

 .border{
 	border: 1px solid #000d1a !important;

 }

 .textoFooter{
 	font-size: 20px;
 }

 footer{
 	color: white;
 }

 .texto-footer{
	text-align: center;
	padding-top: 5px;
}

#div_listar_residencias{
	margin-top: -20px;
}

.carru{
	height: 550px;
}

#imgFooter{
	width: 150px;
}

.jumbotron{
	padding-top: 5px !important;
}

#msjNombreR,#msjMontoS, #msjDescripcionR, #msjCapacidadR, #msjCalleR, #msjAlturaR, #msjProvinciaR, #msjCiudadR, #msjFotoR{
	display: none;
}

#div_agregar_residencia{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 860px;
}

#msjFechaE, #msjMontoE{
	display: none;
}

#div_agregar_estadia{
	background-color: #e6e6ff;
	width: 800px;
	border-radius: 15px;
	height: 450px;
}


#token{
	display: none;
}

#boton_token{
	font-size: 10px;
	padding: 1.5px;
}

#card_residencia{
	height: 600px;
}

#nombre_residencia{
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#card_foto_residencia{
	height: 40%;
	width: 100%;
}

#p_card{
	height: 200px;
}

#foto_detalle_residencia{
	padding-bottom: 20px;
	width: 100%;
	height: 100%;
}

#h1_detalle{
	margin-bottom: 0;
	padding-bottom: 20px;
}

#p_detalle{
	padding-bottom: 20px;
}

#trash{
	margin-top: 13px;
	color: red;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

#botones{
	position: absolute;
	bottom: 0;
	display: center;
}

.glyphicon-map-marker{
	color: red;
}

#div_detalle{
	margin-bottom: 30px;
}

#img_detalle_residencia{
	margin-top: 70px;
}

#form_detalle_residencia{
	width: 250px;
}

button#pujar{
	height: 30px;
	margin-top: .1rem !important;
}
