{% extends 'overall/layout' %}
{% block appHeader %}

  <div id="navbar">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            More
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block carrousel %}
  
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron">Administrar Residencias</h1>
      <p class="lead text-muted">Usted puede agregar, eliminar, listar las residencias para editarlas y crear estadías.</p>
      <div class="center-block row">      
        <a href="http://localhost/HomeSwitchHome/admin/operaciones/agregarResidencia" class="btn btn-secondary my-2">Agregar residencia</a>
        <a href="http://localhost/HomeSwitchHome/admin/operaciones/editarResidencias" class="btn btn-secondary my-2">Ver lista de residencias</a> 
      </div>
    </div>
  </section>
{% endblock %}

{% block appContenido %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron">Administrar Hotsales y Subastas</h1>
      <p class="lead text-muted">Usted puede crear Hotsales y Subastas.</p>
      <div class="center-block row"> 
        <a href="#" class="btn btn-secondary my-2">Crear Hotsale</a>
        <a href="#" class="btn btn-secondary my-2">Crear Subasta</a>
      </div>
    </div>
  </section>
{% endblock %}

{% block appBody %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron">Administrar usuarios</h1>
      <p class="lead text-muted">Usted puede cambiar el rol de un usuario de "Standar" a "Premium" o viceversa</p>
      <p>
        <a href="#" class="btn btn-secondary my-2">Cambiar rol</a>
      </p>
    </div>
  </section>
{% endblock %}