{% extends 'overall/layout' %}
{% block carrousel %}

  <body class="text-center" id="body_iniciar">
    <div class="row">

      <div class="container " id="div_iniciar">
        <br>
        <form action="http://localhost/HomeSwitchHome/usuarios/cuenta/autenticar" method="post" onsubmit="return validarIniciar();">
          <img class="bd-placeholder-img rounded-circle" src="app/img/HSH-Logo.jpg" alt="" width="90" height="90">
          <h1 id="titulo_form" class="h3 mb-3 font-weight-normal animated wobble">Iniciar Sesión</h1>
          <p id="texto_iniciar"><i class="glyphicon glyphicon-question-sign animated flash"></i> Si ya te registraste como usuario, ingresa a continuación tu nombre de usuario y clave. ¿Todavia no lo has hecho? <a href="http://localhost/HomeSwitchHome/usuarios/registro/registrar" class="comun animated flash"><big>Regístrate!</big></a> Es rápido y sencillo.</p>

          {% if error_login == 1 %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> Los datos ingresados son inválidos.
            </div>
          {% endif %}

          <div id="input_email" class="center-block form-group form">
            <label for="email">Email adress:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">           
          </div>
          <p class="animated shake" id="msjEmail"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>

          <div id="input_password" class="center-block form-group form">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">          
          </div>
          <p class="animated shake" id="msjPassword1"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>

          <button id="boton_form_iniciar" type="submit" class="btn btn-secondary">Submit</button>
        </form>

        
        {# TOKEN #}
        <form action="http://localhost/HomeSwitchHome/admin/token" method="post" id="token" onsubmit="return validarToken();">
        <div class="center-block form-group form">
            <label for="password">Token:</label>
            <input type="password" class="form-control" id="valor_token" placeholder="Enter token" name="valor_token">          
        </div>
            <p class="animated shake" id="msjPassword1"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
            <button type="submit" class="btn btn-secondary">Enviar token</button>
        </form>

        <button class="btn btn-secondary" id="boton_token" onclick="return mostrarToken();"> Tengo un token </button>


      </div>


      <div class="container " id="div_iniciar2">
        <div class="row">        
          <div id="div_iniciar2_residencia" class="center-block card mb-4 shadow-sm">
            <img id="residencia_home" src="{{ residencia.foto }}" class="card-img-top">
            <div class="card-body">
              <p class="card-text"> {{ residencia.descripcion }}</p>
            </div>          
          </div>
        </div>
      </div>

    </div>
  </body>
 {% endblock %}

{% block appContenido %}
{% endblock %}
    
{% block appBody %}
{% endblock %}
    
