{% extends 'overall/layout' %}

{% block appHeader %}

    <div id="navbar">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/registro/registrar"><span class="glyphicon glyphicon-user"></span>  Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="glyphicon glyphicon-question-sign"></span> FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="glyphicon glyphicon-envelope"></span> Contacto</a>
        </li>
      </ul>
    </nav>

    </div> 
{% endblock %}
{% block carrousel %}

  <body class="text-center" id="body_iniciar">
    <div class="row">

      <div class="container " id="div_iniciar">
        <br>
        <form action="http://localhost/HomeSwitchHome/usuarios/cuenta/autenticar" method="post" onsubmit="return validarIniciar();">
          <img class="bd-placeholder-img rounded-circle" src="app/img/HSH-Logo.jpg" alt="" width="90" height="90">
          <h1 id="titulo_form" class="h3 mb-3 font-weight-normal animated wobble">Iniciar Sesión</h1>
          <p id="texto_iniciar"><i class="glyphicon glyphicon-question-sign animated flash"></i> Si ya te registraste como usuario, ingresa a continuación tu nombre de usuario y clave. ¿Todavia no lo has hecho? <a href="http://localhost/HomeSwitchHome/usuarios/registro/registrar" class="comun animated flash"><big>Regístrate!</big></a> Es rápido y sencillo.</p>

          {% if error_login == 1 %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> Los datos ingresados son inválidos.
            </div>
          {% endif %}

          
          <div id="input_email" class="center-block form-group form">
            <label for="email">Email adress:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su dirección de email" name="email">           
          </div>
          <p class="animated shake" id="msjEmail"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>

          <div id="input_password" class="center-block form-group form">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña" name="password">          
          </div>
          <p class="animated shake" id="msjPassword1"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>

          <button id="boton_form_iniciar" type="submit" class="btn btn-secondary">Iniciar sesión</button>
        </form>

        
        

        
        {# TOKEN #}
        
        <form action="http://localhost/HomeSwitchHome/admin/token" method="post" id="token" onsubmit="return validarToken();">
        <div class="center-block form-group form">
            <label for="password">Token:</label>
            <input type="password" class="form-control" id="valor_token" placeholder="Ingrese el token" name="valor_token">          
        </div>
            <p class="animated shake" id="msjToken1"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
            <p class="animated shake" id="msjToken2"><span class="glyphicon glyphicon-exclamation-sign"></span> El token debe contener 6 dígitos</p>
            <button type="submit" class="btn btn-secondary">Enviar token</button>
        </form>

        <button class="btn btn-secondary" id="boton_token" onclick="return mostrarToken();"> Tengo un token </button>
          
        


      </div>


      <div class="container " id="div_iniciar2">
        <div class="row">        
          <div id="div_iniciar2_residencia" class="center-block card mb-4 shadow-sm">
            <img id="residencia_home" src="{{ residencia.foto }}" class="card-img-top">
            <div class="card-body">
              <p class="card-text"> {{ residencia.descripcion }}</p>
            </div>          
          </div>
        </div>
      </div>

    </div>
  </body>
 {% endblock %}

{% block appContenido %}
{% endblock %}
    
{% block appBody %}
{% endblock %}
    
