{% extends 'overall/layout' %}
{% block appHeader %}

  {% if esta_loggeado == 1 %}
    <div id="navbar">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/operaciones/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
              More
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

      </div>

  {% else %}

    <div id="navbar">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/registro/registrar"><span class="glyphicon glyphicon-user"></span>  Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/faqs"><span class="glyphicon glyphicon-question-sign"></span> FAQs</a>
          </li>
        </ul>
      </nav>

    </div>

  {% endif %}

{% endblock %}

{% block carrousel %}

  <div class="container">
    <a href="http://localhost/HomeSwitchHome"><button id="atras" class="btn btn-secondary my-2">Atrás</button></a>
  </div>

  <div class="container">

    <h1 class="faq">
      <p class="lead text-muted">Preguntas frecuentes: </p>
    </h1>

    <div class="row">
      <p class="faq">
        <button class="faq btn btn-secondary" type="button" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="collapseExample">
          ¿Cómo me registro?
        </button>
      </p>
    </div>

    <div class="row collapse" id="faq1">
      <p class="faq">
        Registrarse en nuestra pagina web es simple y rápido. Solo tenes que hacer click en “Registrarse” ubicado en la barra superior de la pagina y completar con tus datos personales. Tene en cuenta que solo se pueden registrar personas mayores de 18 años y es necesario contar con una tarjeta ya sea de crédito o débito.
      </p>
    </div>

    <div class="row">
      <p class="faq">
        <button class="faq btn btn-secondary" type="button" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="collapseExample">
          ¿Cómo ser un usuario Premium?
        </button>
      </p>
    </div>

    <div class="row collapse" id="faq2">
      <p class="faq">
        Para registrarse como usuario Premium debe acercarse a nuestra oficina ubicada en la calle 48, numero 863, de 10 a 21 hs. Allí se le solicitaran nuevos datos personales y se le adjudicará membresía.
      </p>
    </div>

    <div class="row">
      <p class="faq">
        <button class="faq btn btn-secondary" type="button" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="collapseExample">
          ¿Qué beneficios tiene ser un usuario Premium?
        </button>
      </p>
    </div>

    <div class="row collapse" id="faq3">
      <p class="faq">
        Al ser un usuario Premium cuenta con la capacidad de adquirir cualquier estadía disponible de manera directa mediante sus créditos. Además de mantener la posibilidad de adquirir Hotsales y participar en Subastas.
      </p>
    </div>

    <div class="row">
      <p class="faq">
        <button class="faq btn btn-secondary" type="button" data-toggle="collapse" data-target="#faq4" aria-expanded="false" aria-controls="collapseExample">
          ¿Cómo adquirir una estadia?
        </button>
      </p>
    </div>

    <div class="row collapse" id="faq4">
      <p class="faq">
        Únicamente las personas registradas en el sistema pueden adquirir una estadía. Aquellos que son usuarios estándar pueden adquirir estadías solo a través de Hotsales o Subastas. En caso de que se trate de un usuario Premium, además contará con la opción de adquirir estadías de manera directa. Para ésto, debe buscar residencias a través de nuestro buscador, ingresando la ubicación y un rango de fechas que desee. Luego de elegir una semana sólo debe hacer click en "Adquirir", y se le descontará el crédito correspondiente.
      </p>
    </div>

    <div class="row">
      <p class="faq">
        <button class="faq btn btn-secondary" type="button" data-toggle="collapse" data-target="#faq5" aria-expanded="false" aria-controls="collapseExample">
          ¿Cómo participar de una subasta?
        </button>
      </p>
    </div>

    <div class="row collapse" id="faq5">
      <p class="faq">
        Todas nuestras estadías entran en subasta 6 meses antes de la fecha, ¡y sólo duran 3 días! Para participar de una subasta sólo debe pujar por ella ingresando un monto que esté dispuesto a pagar, el sistema va informando el ganador actual para mantener a los usuarios actualizados. Una vez finalizada la subasta, se le informa al usuario ganador a través de un mensaje. Tenga en cuenta que sólo puede ganar una subasta si tiene al menos un crédito, de lo contrario su puja quedará anulada y se eligirá otro ganador.
      </p>
    </div>

    <div class="row">
      <p class="faq">
        <button class="faq btn btn-secondary" type="button" data-toggle="collapse" data-target="#faq6" aria-expanded="false" aria-controls="collapseExample">
          ¿Cómo adquirir un Hotsale?
        </button>
      </p>
    </div>

    <div class="row collapse" id="faq6">
      <p class="faq">
        Para adquirir un Hotsale no se requieren créditos... ¡pero sí se requiere ser rápido! La primer persona que se lo adjudique lo obtiene. Solo debe elegir un Hotsale en el listado, hacer click en "Adquirir" y listo! Tenga en cuenta que los Hotsales tienen sus propios precios y se pagan personalmente.
      </p>
    </div>

  </div>

{% endblock %}
{% block appContenido%} {% endblock %}
{% block appBody%} {% endblock %}
