{% extends 'overall/layout' %}
{% block carrousel %}

  {% if error_login == 1 %}
    
      Datos invalidos
  {% endif %}

  <body class="text-center" id="body_registrar">
    <br>
    <div class="container" id="div_registrar">
      <br>
      <form action="http://localhost/HomeSwitchHome/usuarios/cuenta/autenticar" class="was-validated" method="post" onsubmit="return validarIniciar();">
        <img class="bd-placeholder-img rounded-circle" src="app/img/HSH-Logo.jpg" alt="" width="90" height="90">
        <h1 id="titulo_form" class="h3 mb-3 font-weight-normal animated wobble">Iniciar Sesión</h1>

        <div class="center-block form-group form">
          <label for="email">Email adress:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
          <div class="valid-feedback">Valid.</div>
        
        </div>

        <div class="center-block form-group form">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
          <div class="valid-feedback">Valid.</div>
          
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
      <br>
    </div>
  </body>
 {% endblock %}

{% block appContenido %}

{% endblock %}
    
{% block appBody %}


{% endblock %}
    