 {% extends 'overall/layout' %}

 {% block appHeader %}

      <body class="text-center" id="body_registrar">

          <div class="container" id="div_registrar">

            <form action="http://localhost/HomeSwitchHome/usuarios/autenticar" class="was-validated" method="post">
              <h1 class="h3 mb-3 font-weight-normal">Registrate!</h1>

              <div class="center-block form-group form">
                <label for="email">Email adress:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

              <div class="center-block form-group form">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

              <div class="center-block form-group form">
                <div class="row">
                    <div class="col">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Enter nombre" name="nombre" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Enter apellido" name="apellido" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
              </div>

              <div class="center-block form-group form">
                <label for="fecha_nacimiento">Fecha nacimiento:</label>
                <input type="date" class="form-control" id="fecha_nacimiento" placeholder="Enter fecha nacimiento" name="fecha_nacimiento" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

              <div class="center-block form-group form">
                <label for="foto">Foto de perfil:</label>
                <input type="file" class="form-control-file border" id="foto" placeholder="Enter fecha nacimiento" name="foto">
              </div>

              <div class="center-block form-group form">
                <label for="tel">Telefono:</label>
                <input type="text" class="form-control" id="tel" placeholder="Enter fecha nacimiento" name="tel" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

              <div class="center-block form-group form">
                <div class="row">
                    <div class="col">
                        <label for="marca_t">Marca:</label>
                        <input type="text" class="form-control" id="marca_t" placeholder="Enter marca_t" name="marca_t" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col">
                        <label for="numero_t">Numero:</label>
                        <input type="text" class="form-control" id="numero_t" placeholder="Enter numero_t" name="numero_t" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col">
                        <label for="titular_t">Titular:</label>
                        <input type="text" class="form-control" id="titular_t" placeholder="Enter titular_t" name="titular_t" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col">
                        <label for="fecha_v_t">Vencimiento:</label>
                        <input type="text" class="form-control" id="fecha_v_t" placeholder="Enter fecha_v_t" name="fecha_v_t" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
              </div>
            
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            <br>
          </div>
    </body>


 {% endblock %}

 {% block carrousel %}
..
    {% endblock %}
    {% block appContenido %}
      ..
      {% endblock %}
        
    {% block appBody %}
..

    {% endblock %}
        