{% extends 'overall/layout' %}
{% block carrousel %}

  <body class="text-center" id="body_registrar">
      <div class="container" id="div_registrar">  
        <br>
        <form action="http://localhost/HomeSwitchHome/usuarios/registro/insertar" enctype="multipart/form-data" onsubmit="return validarRegistrar();" method="post">
          <img class="bd-placeholder-img rounded-circle" src="app/img/HSH-Logo.jpg" alt="" width="90" height="90">
          <h1 id="titulo_form"class="h3 mb-3 font-weight-normal animated wobble">¡Registrate!</h1>

          {% if email_existente == 1 %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> El email ingresado ya se encuentra registrado.
            </div>
          {% endif %}

          {% if edad_invalida == 1 %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> Debe ser mayor de 18 años para poder registrarse.
            </div>
          {% endif %}

          {% if sin_error == 1 %}
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"> <span class='glyphicon glyphicon-ok-sign'></span> Nota:</strong> ¡Usted se ha registrado con éxito! <a href="http://localhost/HomeSwitchHome/usuarios/cuenta/iniciar" class="alert-link"> Inicie sesion</a> y comience a disfrutar de nuestro servicio.
            </div>
          {% endif %}

          <div class="center-block form-group form">
            <label for="email">Email adress:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su email" name="email">
            <p class="animated shake" id="msjEmail"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
            
          </div>

          <div class="center-block form-group form">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese una contraseña" name="password">
            <p class="animated shake" id="msjPassword1"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
            <p class="animated shake" id="msjPassword2"><span class="glyphicon glyphicon-exclamation-sign"></span> La contraseña debe contener más de 6 caracteres</p>
            
          </div>

          <div class="center-block form-group form">
            <div class="row">
                <div class="col">
                  <label for="nombre">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" name="nombre">
                  <p class="animated shake" id="msjNombre"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                    
                </div>
                <div class="col">
                  <label for="apellido">Apellido:</label>
                  <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido" name="apellido">
                  <p class="animated shake" id="msjApellido"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                    
                </div>
            </div>
          </div>

          <div class="center-block form-group form">
            <label for="fecha_nacimiento">Fecha nacimiento:</label>
            <input type="date" class="form-control" id="fecha_nacimiento" placeholder="Ingrese su fecha nacimiento" name="fecha_nacimiento">
            <p class="animated shake" id="msjFecha_nacimiento"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
      
          </div>

          <div class="center-block form-group form">
            <label for="foto">Foto de perfil:</label>
            <input type="file" class="form-control-file border" id="foto" name="foto">
          </div>

          <div class="center-block form-group form">
            <label for="telefono">Telefono:</label>
            <input type="text" class="form-control" id="telefono" placeholder="Ingrese un teléfono" name="telefono">
            <p class="animated shake" id="msjTelefono"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
            
          </div>
          <label>Información de la tarjeta: </label>
          <div class="center-block form-group form">
            <div class="row">
              <div class="col-md-3 input_tarjeta">
                
                <input type="text" class="form-control" id="marca_tarjeta" placeholder="Marca" name="marca_tarjeta">
                <p class="animated shake" id="msjMarca"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
               
              </div>
              <div class="col-md-3 input_tarjeta">
                
                <input type="text" class="form-control" id="numero_tarjeta" placeholder="Número" name="numero_tarjeta">
                <p class="animated shake" id="msjNumero"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                
              </div>
              <div class="col-md-3 input_tarjeta">
                
                <input type="text" class="form-control" id="titular_tarjeta" placeholder="Titular" name="titular_tarjeta">
                <p class="animated shake" id="msjTitular"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                
              </div>
            <div class="col-md-3 input_tarjeta">
              
              <input type="text" class="form-control" id="fecha_vencimiento_tarjeta" placeholder="Vencimiento" name="fecha_vencimiento_tarjeta">
              <p class="animated shake" id="msjVencimiento"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
              
            </div>
          </div>
        </div>       
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
      <br>
    </div>
  </body>
{% endblock %}

{% block appContenido %}

{% endblock %}
    
{% block appBody %}

{% endblock %}
    