{% extends 'overall/layout' %}
{% block appHeader %}

  <div id="navbar">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>  Cerrar Sesion</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            More
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block carrousel %}

  <body class="text-center" id="body_registrar">
      <div class="container" id="div_agregar_residencia">  
        <div class="container">
          <a href="http://localhost/HomeSwitchHome"><button id="atras" class="btn btn-secondary my-2">Atrás</button></a>
        </div>
        <br>
        <form action="http://localhost/HomeSwitchHome/admin/residencias/insertar" enctype="multipart/form-data" onsubmit="return validarAgregarResidencia();" method="post">
          <img class="bd-placeholder-img rounded-circle" src="app/img/HSH-Logo.jpg" alt="" width="90" height="90">
          <h1 id="titulo_form"class="h3 mb-3 font-weight-normal animated flash">Ingrese los datos de la residencia:</h1>

          {% if sin_error == 1 %}
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"> <span class='glyphicon glyphicon-ok-sign'></span> Nota:</strong> La residencia se ha registrado con éxito!
            </div>
          {% endif %}

          <!-- error por residencia existente-->
          {% if nombre_existente == 1 %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> Ya existe una residencia con ese nombre.
            </div>
          {% endif %}


          <div class="center-block form-group form">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre de la residencia" name="nombre">
            <p class="animated shake" id="msjNombreR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
            <p class="animated shake" id="msjNombreR2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo letras.</p>
            
          </div>

          <div class="center-block form-group form">
            <label for="descripcion">Descripcion:</label>
            <textarea type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripcion de la residencia" name="descripcion">
            </textarea>
            <p class="animated shake" id="msjDescripcionR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
          </div>

          <div class="center-block form-group form">
          	<label for="direccion">Direccion:</label>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="calle" placeholder="Calle" name="calle">
          		  <p class="animated shake" id="msjCalleR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                <p class="animated shake" id="msjCalleR2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo caracteres alfanuméricos.</p>
                  
              </div>
              <div class="col">
              	<input type="text" class="form-control" id="altura" placeholder="Altura" name="altura">
        		    <p class="animated shake" id="msjAlturaR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                <p class="animated shake" id="msjAlturaR2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo números.</p>
          	  </div>
            </div>
          </div>

          <div class="center-block form-group form">
          	<div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" name="ciudad">
          		  <p class="animated shake" id="msjCiudadR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                <p class="animated shake" id="msjCiudadR2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo letras.</p>
                  
              </div>
              <div class="col">
              	<input type="text" class="form-control" id="provincia" placeholder="Provincia" name="provincia">
            		<p class="animated shake" id="msjProvinciaR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
                <p class="animated shake" id="msjProvinciaR2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo letras.</p>
            	</div>
            </div>
           </div>

	          <div class="center-block form-group form">
	          	
	            <label for="capacidad">Capacidad:</label>
	            <input type="text" class="form-control" id="capacidad" placeholder="Ingrese la capacidad" name="capacidad">
	            <p class="animated shake" id="msjCapacidadR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
              <p class="animated shake" id="msjCapacidadR2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar un número mayor a 0.</p>
	           </div>

	           <div class="center-block form-group form">
		            <label for="foto">Foto:</label>
		            <input type="file" class="form-control-file border" id="foto" name="foto">
                <p class="animated shake" id="msjFotoR"><span class="glyphicon glyphicon-exclamation-sign"></span> Complete este campo.</p>
				        
	            </div>
	   
	        <button type="submit" class="btn btn-secondary">Agregar residencia</button>
 
	        </div>

      </form>

      <br>
    </div>
  </body>
{% endblock %}
{% block appContenido %}

{% endblock %}
    
{% block appBody %}

{% endblock %}