{% block appFiltro %}
<p class="lead text-muted">Filtrar residencias: </p>

       <form action="">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Ubicación</span><input type="text" class="form-control" placeholder="Ubicacion de la residencia" id="ubicacion" name="ubicacion">
          </div>          
        </div>

        <div class="input-group mb-3">
          <div class="input-group-append">
            <input type="date" class="form-control" placeholder="Fecha desde" id="fecha_desde" name="fecha_desde"><span class="input-group-text">Fecha desde</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">Fecha hasta</span><input type="date" class="form-control" placeholder="Fecha hasta" id="fecha_hasta" name="fecha_hasta">
          </div>
        </div>
        <button type="submit" class="btn btn-secondary my-2">Filtrar</button>

      </form>
{% endblock %}